#proyects-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
    
    background-color: black;
}

.proyects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 10% 4%;
    width: 16%;
    height: auto;
    

    border: 1px solid black;
    border-radius: 25px;
    outline: 0;

   

}

.proyect-link{
    position: relative;
    opacity: 0.3;
    transition: all 0.5s ease-out;
    
    height: 315px;
    width: 100%;
}

.proyect-link a{
   
}

.proyect-link svg{
    position: absolute;
    top: 2%;
    right: 2%;

    font-size: 1.3rem;
    color: #FF6000;
   
    
}

.proyect-img{
    width: 100%;
    height: 100%;
   
    
}

.proyect-link:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;



}





.proyect-text-div{
    border-top: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background-color: #454545;
    
    padding: 6% 0%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}


.proyect-text{
    padding: 2%;
    color: #FFF4E0;

    text-align: center;
    
    
}



.description{
   
}



/* 
.proyect-text-div::after{
    content: "";
    position: absolute;

    width: 100%;
    height: 40vh;

    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.4s ease-in-out;

}


.proyects:hover .proyect-text-div::after{
    content: "brr";
    transition: all 1s ease;
    transform: scaleY(1);
    background-color: red;
}  */

@media all and (max-width:1024px){
    .proyect-link{
        height: 270px;
        

    }

}




 @media all and (max-width:768px){
    #proyects-container{
        height: 100vh;
     }
    
    .proyects{
        
        width: 23%;
    }

    
    .proyect-link{
        height: 180px;

    }

}


@media all and (max-width:425px){
    #proyects-container{
       height: 100%;
    }

    .proyects{
        margin: 15% 10%;
        width: 60%;
    }

    .proyect-link{
        height: 220px;
        
    }
} 


