.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
    margin: 10%;
}

.title{
    font-size: 6rem;

}

.subtext{
    font-size: 2rem;
    color: #FF6000;

}


@media all and (max-width: 1024px){
    .title{
        font-size: 4rem;
    }

    .subtext{
        font-size: 1.5rem;
    }
}

@media all and (max-width: 425px){
    .profile-container{
        margin: 6%;
        height: 30vh;
    }
    
    .title{
        font-size: 2.3rem;
    }

    .subtext{
        font-size: 1.1rem;
    }
}
