.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 10%;
}

.title{
    font-size: 6rem;

}

.subtext{
    font-size: 2rem;
    color: #FF6000;

}

