#letter-container{
    height: 600px;
    background-color: #FFF4E0;
}

.letter-text{
    margin: 8% 8% 0 8%;
    padding: 10% 0;

    font-size: 1.4rem;
    line-height: 2rem;
    
    color: black;
}