#letter-container{
    height: 40%;
    
    padding: 16% 4%;

    background-color: #FFF4E0;
}

.letter-text{
    
    
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    
    color: black;
}


@media all and (max-width:425px){
    .letter-text{
        font-size: 1.2rem;
        
    }
}