.tools-container {
    background-color: #caba9c;
    color: #FF6000;

    padding: 2%;
    margin: auto;

    width: 100%;
    height: 6rem;

    overflow: hidden;
}







.marquee-container {
    background-color: #caba9c;
    color: #FF6000;
    
    padding-top: 1.5%;
    margin: auto;

    width: 100%;
    height: 6rem;
    
    
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 40s linear infinite;

  }
  
  .marquee-content svg{
    font-size: 3rem;
    
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }



  @media all and (max-width:1024px){
    .marquee-container{
      height: 4rem;
    }
  
    .marquee-content svg{
      font-size: 2.5rem;
      
    }
  }











