.navbar-container{
   

    height: 8vh;
    
}

.menu-container{
    

}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    list-style-type: none;
    margin-right: 10%;
}

.menu li{
    margin-left: 6%;
    
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.menu li:hover{
    transition: all 1s ease-in-out;
    
    background-color: red;
    text-decoration-color: red;

}

.menu li a{
    text-decoration: none;
    color: #FF6000;
    font-size: 1.8rem;
}

